*{
    margin: 0px auto;
    padding: 0px;
}

.titulo > h1{
  font-family: sans-serif;
  text-shadow: 1px 1px 1px black;
}

.input-group-text {
  align-items: center;
  justify-content: center;
}

.selector:hover {
  cursor: pointer;
}

