.div {
    font-family: Arial, Helvetica, Sans-Serif;
    border-style: solid;
    height: auto;
    width: auto;
    draggable: true;
}
.img {
    font-family: Arial, Helvetica, Sans-Serif;
    border-style: solid;
    width:auto;
    height:auto;
}
.data{
    justify-content: center;
}