.div {
    font-family: Arial, Helvetica, Sans-Serif;
    border-style: solid;
    height: 280px;
    width: 230px ;
    draggable: true;
}
.img {
    font-family: Arial, Helvetica, Sans-Serif;
    border-style: solid;
    width: 180px ;
    height:180px;
}
.data{
    justify-content: center;
}